<nav class="navbar is-black" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
        <%= image_tag "feito_3.09.png" %>
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
                <div class="navbar-item">
                    <div class="field has-addons">
                        <div class="control">
                        <input class="input" type="text" placeholder="Encontre o Serviço">
                    </div>
                    <div class="control">
                       <a class="button is-success is-rounded">Pesquisar </a>
                    </div>
                </div>

             </div>
          </div>
      </div>

        <div class="navbar-end">
             <a class="navbar-item">Postar Serviços</a>
             <a class="navbar-item">Pesquisar Serviços</a>
        <div class="navbar-item">
            <div class="buttons">
              <a class="button is-warning"><strong>Cadastrar-se</strong></a>
              <a class="button is-success">Entrar</a>
            </div>
        </div>

        <div class="navbar-item has-dropdown is-hoverable">
           <a  class="navbar-item">Teofilo Chichume </a>

                <div class="navbar-dropdown ">
                    <a href="" class="navbar-item ">Perfil</a>
                    <a href="" class="navbar-item ">Painel Principal</a>
                    <hr class="navbar-divider ">
                    <a href="" class="navbar-item ">Sair</a>
            
                </div>
        </div>

        </div>
      </div>
    </nav>